:root {
	
	--accent: ffd8c7;
	--background: #d4d4d4c0;
	--backgroundInactive: #adadad80;
	--matteDark: #656565;
	--matteLight: #ededed;
	--line: #4d4d4d80;
	/*--button: */
	--text: #4d4d4d;
	--textInactive:#8ba2b3;
	--textInverted: #ededed;
	
	--display: Garamond, Palatino Linotype, serif;
	--system: Tahoma, Helvetica, sans-serif;
	--input: Courier;
	
	--borderRadius: 4px;
	--matteBlur: 2px;
	
	--player0: #e3fcea;
	--player1: #fcf7e3;
	--player2: #e3e6fc;
	--player3: #fce3e4;
	
	--player0Highlight: #2e9957;
	--player1Highlight: #997c1f;
	--player2Highlight: #0f2299;
	--player3Highlight: #991723;
	
}

#container, #container::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
#container {
	font-family: var(--system);
	color: var(--text);
	transition: 2s;
	background-color: #00000000;
}
#container::before {
	content: "";
	z-index:-10;
	background: url("skin/background.jpg") no-repeat center center fixed;
	background-size: cover;
}
#container.settings {
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
}
#container.game {
	--traySize: 100px;
	display: grid;
	grid-template-columns: minmax(var(--traySize), auto) min-content minmax(var(--traySize), auto);
	grid-template-rows: auto;
}
@media only screen and (max-width: 100vh){
	#container.game {
		grid-template-rows: minmax(var(--traySize), auto) min-content minmax(var(--traySize), auto);
		grid-template-columns: auto;
		height: auto;
	}
}

.settings input {
	display: block;
	background-color: var(--background);
	margin: 4px 0;
}

#menu div {
	margin: 12px;
}
#scoreBoard {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-gap: 4px;
	white-space: nowrap;
}
#scoreBoard span {
	padding: var(--borderRadius);
	border-radius: var(--borderRadius);
}
.score {
	font-family: var(--input);
	font-weight: bold;
	transition: .6s;
}

#gameBoard {
	display: grid;
	grid-gap: 1.5px;
	background-color: var(--line);
	width: min(100vw, 100vh);
	height: min(100vw, 100vh);
}
.square {
	background-color: var(--background);
	backdrop-filter: blur(var(--matteBlur));
}
.square:hover {
	background-color: var(--accent);
}
.square.block {
	background-color: var(--backgroundInactive);
}
.square.initial {
	background-color: #ffff0080;
}
.square.vowelBonus {
	background-color: #00ff0080;
}
.square.consonantBonus {
	background-color: #ff00ff80;
}

#tray, #menu, .square {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
@media only screen and (max-width: 100vh){
	#tray, #menu, .square {
		flex-direction: inherit;
		flex-flow: wrap;
	}
}
#tray {
	flex-wrap: wrap;
	height: 100vh;
}
@media only screen and (max-width: 100vh){
	#tray {
		height: auto;
	}
}

.tile, .button {
	position: relative;
	width: min(100%, 80px);
	border-radius: var(--borderRadius);
	box-shadow: 1.5px 1.5px 3px inset var(--matteLight), -1.5px -1.5px 3px inset var(--matteDark);
	-webkit-box-shadow:  1.5px 1.5px 3px inset var(--matteLight), -1.5px -1.5px 3px inset var(--matteDark);
	text-align: center;
	z-index:1;
	transition: .6s;
	user-select: none;
}
.button {
	background-color: var(--matteLight);
}
.button:after {
	content:"";
	width:100%;
}
#tray .tile {
	margin: 2px;
}
#tray hr {
	width: 100%;
	border: 0;
}
.tile {
	height: 80px;
	height: min(100%, 80px);
	line-height: 80px;
	font-size: 60px;
	font-family: var(--display);
}
#gameBoard .tile {
	height: 6vh;
	height: min(6vh, 80px, 100%);
	line-height: inherit;
	font-size: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .4s;
}
.tile.word, .tile.selected {
	color: var(--textInverted);
}

.player0 {
	background-color: var(--player0);
	--playerColor: var(--player0);
}
.player1 {
	background-color: var(--player1);
	--playerColor: var(--player1);
}
.player2 {
	background-color: var(--player2);
	--playerColor: var(--player2);
}
.player3 {
	background-color: var(--player3);
	--playerColor: var(--player3);
}
.tile.word.player0, .tile.selected.player0 {
	background-color: var(--player0Highlight);
	--playerColor: var(--player0Highlight);
}
.tile.word.player1, .tile.selected.player1 {
	background-color: var(--player1Highlight);
	--playerColor: var(--player1Highlight);
}
.tile.word.player2, .tile.selected.player2 {
	background-color: var(--player2Highlight);
	--playerColor: var(--player2Highlight);
}
.tile.word.player3, .tile.selected.player3 {
	background-color: var(--player3Highlight);
	--playerColor: var(--player3Highlight);
}
.tile.die0 {
	background: linear-gradient(45deg, white 0%, var(--playerColor) 50%);
}
.tile.die1 {
	background: linear-gradient(45deg, orange 0%, var(--playerColor) 50%);
}
.tile.die2 {
	background: linear-gradient(45deg, green 0%, var(--playerColor) 50%);
}
.tile.die3 {
	background: linear-gradient(45deg, yellow 0%, var(--playerColor) 50%);
}

.flare {
	z-index: 10;
	overflow: hidden;
	animation: flare 1.2s;
	text-shadow: -2px -2px 2px var(--matteDark);
}
@keyframes flare {
	0% {
		transform: scale(1);
		/*text-shadow: 2px 2px 2px var(--matteDark);*/
	}
	50% {
		transform: scale(1.6);
		/*text-shadow: 0px 0px 2px var(--matteDark);*/
	}
	100% {
		transform: scale(1);
		/*text-shadow: -2px -2px 2px var(--matteDark);*/
	}
}
.flare:after{
	content:"";
	position: absolute;
	width: 100%;
	height: 100%;
	animation: flareOverlay 1.2s linear;
	/*background-image: linear-gradient(-45deg, transparent, transparent, var(--matteLight), transparent, transparent);*/
	background-color: var(--matteLight);
	z-index: 20;
	transform: scale(1.6);
	opacity: 0;
}
@keyframes flareOverlay {
	0%{
		opacity: 0;
		top: -50%;
		left: -50%
	}
	50% {
		opacity: 1;
		top:0;
		left: 0;
	}
	100% {
		opacity: 0;
		top: 50%;
		left: 50%;
	}
}