:root {
	
	--accent: #ffd8c7;
	--background: #e4e4e440;
	--backgroundInactive: #80808080;
	--matteDark: #656565;
	--matteLight: #ededed;
	--line: #4d4d4d80;
	/*--button: */
	--text: #4d4d4d;
	--textInactive:#8ba2b3;
	--textInverted: #ededed;
	
	--display: Garamond, Palatino Linotype, serif;
	--system: Tahoma, Helvetica, sans-serif;
	--input: Courier;
	
	--borderRadius: 4px;
	--matteBlur: 4px;
	
	/*
	--player0: #e3fcea; green
	--player1: #fcf7e3; yellow
	--player2: #e3e6fc; blue
	--player3: #fce3e4; red
	*/
	
	--player0: #97fcb8;
	--player1: #fce897;
	--player2: #979cfc;
	--player3: #fc9a97;
	
	--player0Highlight: #2e9957;
	--player1Highlight: #997c1f;
	--player2Highlight: #0f2299;
	--player3Highlight: #991723;
	
	--die0: #db8a9d;
	--die1: #74c0db;
	--die2: #a3db69;
	--die3: #dbd45e;
}

#container, #container::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
#container {
	font-family: var(--system);
	color: var(--text);
	transition: 2s;
	background-color: #00000000;
}
#container::before {
	content: "";
	z-index:-10;
	background: url("skin/background_01.jpg") no-repeat center center fixed;
	background-size: cover;
}
#container.settings {
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
}
#container.game {
	--traySize: 100px;
	display: grid;
	grid-template-columns: minmax(var(--traySize), auto) min-content minmax(var(--traySize), auto);
	grid-template-rows: auto;
}
@media only screen and (max-width: 100vh){
	#container.game {
		grid-template-rows: minmax(var(--traySize), auto) min-content minmax(var(--traySize), auto);
		grid-template-columns: auto;
		height: auto;
	}
}

.settings input {
	display: block;
	background-color: var(--background);
	margin: 4px 0;
}

#menu div {
	margin: 12px 6px;
}
#scoreBoard {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-gap: 4px;
	white-space: nowrap;
}
#scoreBoard span {
	padding: var(--borderRadius);
	border-radius: var(--borderRadius);
}
.score {
	font-family: var(--input);
	font-weight: bold;
	transition: .6s;
}
#meter {
	width: 120px;
	height: 90px;
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 30px);
	grid-template-rows: repeat(3, 30px);
	--player: var(--matteLight);
	--mouseX: 0;
	--mouseY: 0;
	--titleText: "hot dog";
}
#meter .hatch {
	margin: auto;
	width: 13px;
	height: 28px;
	border: solid var(--matteDark) 1px;
}
#meter .active{
	background-color: var(--player);
}
#meter .fullHouse {
	background-color: var(--text);
	box-shadow: 0 0 10px var(--matteLight), 0 0 8px inset var(--accent);
	cursor: pointer;
}
#meter .die0,
#meter .die1,
#meter .die2,
#meter .die3 {
	width: 100%;
	height: 100%;
	position: relative;
	border: none;
}
#meter .die0.active,
#meter .die1.active,
#meter .die2.active,
#meter .die3.active {
	cursor: pointer;
}

#meter:hover::after {
	content: var(--titleText);
	position: absolute;
	font-size: .6em;
	left: var(--mouseX);
	top: var(--mouseY);
}

#gameBoard {
	display: grid;
	grid-gap: 1.5px;
	background-color: var(--line);
	width: min(100vw, 100vh);
	height: min(100vw, 100vh);
}
.square {
	background-color: var(--background);
	backdrop-filter: blur(var(--matteBlur));
	font-size: min(6vh, 6vw);
	overflow: hidden;
}
.square::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-size: cover;
	opacity: .2;
}
.square.eligible:hover,
.stretch .square.stretch:hover {
	/* background-color: var(--accent); */
	box-shadow: 1vh 1vh 2vh inset var(--matteDark), -1vh -1vh 2vh inset var(--accent);
	transition: .4s;
}
.square.block {
	background-color: var(--backgroundInactive);
}
.square.initial:empty {
	background-color: #ffffffc0;
}
.square.initial:empty:before {
	content: "\2605";
	opacity: 1;
	text-align: center;
	position: relative;
	height: auto;
}
/*
.square.vowel:empty {
	background-color: var(--die0);
}
.square.common:empty {
	background-color: var(--die1);
}
.square.scarce:empty {
	background-color: var(--die2);
}
.square.rare:empty {
	background-color: var(--die3);
}
*/

#menu, #tray, .square {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
@media only screen and (max-width: 100vh){
	#menu, #tray, .square {
		flex-direction: inherit;
		flex-flow: wrap;
	}
	#controls {
		grid-template-rows: auto;
		grid-template-columns: 1fr min-content;
	}
	#tray {
		height: 100%;
		width: calc(100vw - 120px);
	}
}
#controls {
	display: grid;
	grid-template-rows: 1fr min-content;
	align-items: center;
	justify-content: center;
}
#tray {
	flex-wrap: wrap;
	width: 100%;
	height: calc(100vh - 120px);
}

.tile, .button {
	position: relative;
	width: min(100%, 80px);
	border-radius: var(--borderRadius);
	/* box-shadow: 1.5px 1.5px 3px inset var(--matteLight), -1.5px -1.5px 3px inset var(--matteDark); */
	/* -webkit-box-shadow:  1.5px 1.5px 3px inset var(--matteLight), -1.5px -1.5px 3px inset var(--matteDark); */
	text-align: center;
	z-index:1;
	transition: .6s;
	user-select: none;
}
.button {
	background-color: var(--matteLight);
	cursor: pointer;
	user-select: none;
}

#modal .button {
	width: auto;
	margin: 6px;
}
.button.end {
	margin: 20px;
	width: 80px;
	height: 80px;
	line-height:80px;
	text-align: center;
	border-radius: 50%;
}
#tray .tile {
	margin: 2px;
}
#tray hr {
	width: 100%;
	border: 0;
}
.tile {
	display: inline-block;
	/* height: 80px; */
	height: min(100%, 80px);
	line-height: 80px;
	font-size: 44px;
	font-family: var(--display);
}
.tile::before,
#meter div::before {
	content: "";
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#gameBoard .tile {
	/* height: 6vh; */
	/* height: min(6vh, 80px, 100%); */
	line-height: inherit;
	font-size: min(1em, 4vh);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .4s;
	text-decoration: none;
}
.tile.word, .tile.selected {
	color: var(--textInverted);
}

.player0 {
	background-color: var(--player0);
	--playerColor: var(--player0);
}
.player1 {
	background-color: var(--player1);
	--playerColor: var(--player1);
}
.player2 {
	background-color: var(--player2);
	--playerColor: var(--player2);
}
.player3 {
	background-color: var(--player3);
	--playerColor: var(--player3);
}
.tile.word.player0, .tile.selected.player0 {
	background-color: var(--player0Highlight);
	--playerColor: var(--player0Highlight);
}
.tile.word.player1, .tile.selected.player1 {
	background-color: var(--player1Highlight);
	--playerColor: var(--player1Highlight);
}
.tile.word.player2, .tile.selected.player2 {
	background-color: var(--player2Highlight);
	--playerColor: var(--player2Highlight);
}
.tile.word.player3, .tile.selected.player3 {
	background-color: var(--player3Highlight);
	--playerColor: var(--player3Highlight);
}
#tray .tile,
#meter div,
#rerollPrompt .tile {
	mask-size: cover;
	-webkit-mask-size: cover
}
#tray .tile.die0,
#meter .die0,
#rerollPrompt .die0 {
	mask-image:url('skin/die_mask_00.png');
	-webkit-mask-image:url('skin/die_mask_00.png');
}
#tray .tile.die1,
#meter .die1,
#rerollPrompt .die1 {
	mask-image:url('skin/die_mask_01.png');
	-webkit-mask-image:url('skin/die_mask_01.png');
}
#tray .tile.die2,
#meter .die2,
#rerollPrompt .die2 {
	mask-image:url('skin/die_mask_02.png');
	-webkit-mask-image:url('skin/die_mask_02.png');
}
#tray .tile.die3,
#meter .die3,
#rerollPrompt .die3 {
	mask-image:url('skin/die_mask_03.png');
	-webkit-mask-image:url('skin/die_mask_03.png');
}
#tray .tile::before,
#meter div::before,
#rerollPrompt .tile::before {
	opacity: .6;
	z-index: -1;
}
#tray .tile.die0::before,
#meter .die0::before,
.square.die0:empty::before,
#rerollPrompt .die0::before {
	background-image:url('skin/die_00.png');
}
#tray .tile.die1::before,
#meter .die1::before,
.square.die1:empty::before,
#rerollPrompt .die1::before {
	background-image:url('skin/die_01.png');
}
#tray .tile.die2::before,
#meter .die2::before,
.square.die2:empty::before,
#rerollPrompt .die2::before {
	background-image:url('skin/die_02.png');
}
#tray .tile.die3::before,
#meter .die3::before,
.square.die3:empty::before,
#rerollPrompt .die3::before {
	background-image:url('skin/die_03.png');
}

.flare {
	z-index: 10;
	overflow: hidden;
	animation: flare 1.2s;
	text-shadow: -2px -2px 2px var(--matteDark);
}
@keyframes flare {
	0% {
		transform: scale(1);
		/*text-shadow: 2px 2px 2px var(--matteDark);*/
	}
	50% {
		transform: scale(1.2);
		/*text-shadow: 0px 0px 2px var(--matteDark);*/
	}
	100% {
		transform: scale(1);
		/*text-shadow: -2px -2px 2px var(--matteDark);*/
	}
}
.flare:after{
	content:"";
	position: absolute;
	width: 100%;
	height: 100%;
	animation: flareOverlay 1.2s linear;
	/*background-image: linear-gradient(-45deg, transparent, transparent, var(--matteLight), transparent, transparent);*/
	background-color: var(--matteLight);
	z-index: 20;
	transform: scale(1.6);
	opacity: 0;
}
@keyframes flareOverlay {
	0%{
		opacity: 0;
		top: -50%;
		left: -50%
	}
	50% {
		opacity: 1;
		top:0;
		left: 0;
	}
	100% {
		opacity: 0;
		top: 50%;
		left: 50%;
	}
}

#wildcardPrompt {
	font-size: 2em;
}
#wildcardPrompt input {
	width: 2em;
	height: 2em;
}

#screen {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: var(--background);
	top: 0;
	left: 0;
	opacity: .75;
	backdrop-filter: blur(var(--matteBlur));
}
#modal {
	display: none;
	position: fixed;
	max-width: 80vw;
	max-height: 80vh;
	overflow-y: auto;
	background-color: var(--background);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	border-radius: var(--borderRadius);
	padding: 12px;
	font-family: var(--display);
}
#screen.active,
#modal.active {
	display: block;
}

#winner {
	text-align: center;
}
#winner h3 {
	font-weight: bold;
	font-size: 2em;
	margin: 0 2em;
	animation: pulse 1s infinite;
}
@keyframes pulse {
	0%, 100% {transform: scale(1);}
	50% {transform: scale(1.2);}
}


@media only screen and (max-width: 100vh){
	#tray {
		width: auto;
		height: 100%;
	}
}


@media only screen and (max-width: 768px){
	.tile {
		width: max(2vw, 36px);
		height: max(2vw, 36px);
		line-height: max(2vw, 36px);
		font-size: max(1.8vw, 32px);
	}
}